In [5]:
import yfinance as yf
tw2330 = yf.download('2330.TW', start='2024-01-01', end='2024-06-01', auto_adjust=True)
tw2303 = yf.download('2303.TW', start='2024-01-01', end='2024-06-01', auto_adjust=True)
tw2454 = yf.download('2454.TW', start='2024-01-01', end='2024-06-01', auto_adjust=True)  
tw2317 = yf.download('2317.TW', start='2024-01-01', end='2024-06-01', auto_adjust=True)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
tw2330.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 98 entries, 2024-01-02 to 2024-05-31
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   (Close, 2330.TW)   98 non-null     float64
 1   (High, 2330.TW)    98 non-null     float64
 2   (Low, 2330.TW)     98 non-null     float64
 3   (Open, 2330.TW)    98 non-null     float64
 4   (Volume, 2330.TW)  98 non-null     int64
dtypes: float64(4), int64(1)
memory usage: 4.6 KB

In [14]:
tw2330['Close']['2330.TW']
tw2330_data = tw2330[('Close','2330.TW')]
tw2303_data = tw2303[('Close','2303.TW')]
tw2454_data = tw2454[('Close','2454.TW')]
tw2317_data = tw2317[('Close','2317.TW')]

In [15]:
import pandas as pd

data = {
    "台積電":tw2330_data,
    "聯電"  :tw2303_data,
    "聯發科":tw2454_data,
    "鴻海"  :tw2317_data  
}
df = pd.DataFrame(data)
df

              台積電         聯電          聯發科          鴻海
Date
2024-01-02  593.0  51.900002   915.833130  102.375000
2024-01-03  578.0  50.599998   889.693176  101.887505
2024-01-04  580.0  50.799999   889.309875  101.400002
2024-01-05  576.0  50.799999   882.601685  101.400002
2024-01-08  583.0  50.500000   881.643372   98.962502
...           ...        ...          ...         ...
2024-05-27  869.0  56.599998  1231.425903  180.375000
2024-05-28  865.0  56.400002  1255.383545  180.862503
2024-05-29  857.0  55.900002  1236.217407  175.987503
2024-05-30  838.0  55.799999  1236.217407  172.087509
2024-05-31  821.0  55.000000  1183.510498  167.699997

[98 rows x 4 columns]